/* accordion */

 .accordion {
 	width: 100%;
 	height:auto;
 	background: #fff;
 	-webkit-border-radius:0.08rem;
 	-moz-border-radius: 0.08rem;
 	border-radius: 0.08rem;
 	margin-bottom:7.6rem;
 }
.accordion .link {
	display: block;
	padding: 0.58rem 0.7rem 0.58rem 0.88rem;
	color: #4D4D4D;
	font-size: 0.64rem;
 	border-bottom: 1px solid #ddd;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	position:relative;
}
.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion .link i {
	position: absolute;
	top:0.72rem;
	right:0.74rem;
	font-size:0.6rem;
	color: #58b7ad;
	font-weight:100;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.accordion li.open .link {
/* 	color: #b63b4d; */
}
.accordion li.open {
	border-bottom:1px solid #ddd;
}

.accordion li.open i {
/* 	color: #b63b4d; */
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate-90deg);
	transform: rotate(-90deg);
}
.accordion .submenu {
 	display: none;
 	width:93.6%;
 	height:auto;
 	padding:0.7rem 0 1.1rem;
 	position:relative;
 	margin:0 auto;
}
.accordion .submenu dl {
	width:100%;
	height:6.3rem;
	border:1px solid #fee7ca;
	border-bottom:none;
	border-right:none;
	background:#fdf0df;
	box-sizing:border-box;
}
.accordion dl dd {
	float:left;
	width:33.333%;
	height:1.26rem;
	box-sizing:border-box;
	line-height:1.2rem;
	font-size:0.48rem;
	color:#522c16;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	border-right:1px solid #fee7ca;
	border-bottom:1px solid #fee7ca;
}
.accordion dd:last-child  {
	width:66.67%;
}
.accordion .head_tit {
	font-weight:bold;
}
.accordion .submenu .pjxx_tit {
	width:4.36rem;
	height:0.84rem;
	background:#4e3c23;
	margin-top:0.4rem;
	margin-bottom:0.4rem;
	color:#fff;
	font-size:0.48rem;
	text-align:center;
	line-height:0.84rem;
}
.accordion .submenu .pjxx_txt {
	color:#522c16;
	font-size:0.48rem;
	line-height:0.88rem;
	text-align:justify;
}
.accordion .submenu .pjxx_ps {
	color:#ff382b;
	font-size:0.48rem;
	margin-top:0.54rem;
}

/* 预定门票 */
.accordion .submenu .ticket01 {
	width:100%;
	height:auto;
}
.accordion .ticket01 li {
	width:100%;
	height:auto;
	min-height:3.6rem;
	position:relative;
}
.accordion .ticket01_left_tit {
	position:absolute;
	left:0;
	top:0;
	font-size:0.52rem;
	color:#333;
	line-height:0.96rem;
	width:10.76rem;
	padding-left:0.2rem;
	padding-right:0.2rem;
	height:1.92rem;
	overflow:hidden;
}
.accordion .ticket01_left_exp {
	position:absolute;
	left:0;
	top:1.92rem;
	line-height:0.6rem;
	width:10.76rem;
	padding-left:0.2rem;
	padding-right:0.2rem;
	font-size:0.44rem;
	color:#999;
	overflow:hidden;
}
.accordion .ticket01_right_price {
	position:absolute;
	right:0;
	top:0;
	width:2.88rem;
	height:0.96rem;
	line-height:0.96rem;
	text-align:center;
	color:#ff7e00;
	font-size:0.6rem;
}
.accordion .ticket01_right_reserve {
	position:absolute;
	right:0;
	top:1.56rem;
	width:2.36rem;
	height:0.92rem;
	background:#ff7e00;
	border-radius:0.2rem;
	text-align:center;
	font-size:0.56rem;
	color:#fff;
}